
<h1>
  About
</h1>
This is a simple website that can let you search the zip code information of Taiwan based on:
<li> County/City </li>
<li> District/City/Township </li>
<li> 3-digit Zip Code </li>
<br>
Please note that you can use either English or Mandarin keywords for regions, e.g., Taipei or 台北. However, to search based on a 3-digit zip code, you must enter all 3 digits.

